/* You can add global styles to this file, and also import other style files */
body{
    background-color: #e1e1e1;
}
table thead{
    background-color: rgb(38, 125, 240);
    color: #ffffff;
}
table tbody{
    background-color: rgb(111, 197, 247);
}